/* =================================
  Base Element Styles
==================================== */
body {
  margin: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #eeeeee;
}

div {
  background-color: #222831;
  position: relative;
  padding: 30px 0;
}

header {
  text-align: right;
  background-color: #66BFBF;
  padding: 10px 10px 10px;
  color: #EAF6F6;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.125rem;
  color: #66BFBF;
  padding-bottom: 5px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  font-size: 1.2rem;
  color: #eeeeee;
}

hr {
  border-style: dotted none none none;
  color: grey;
  border-width: thick;
  width: 3%;
  margin-top: 100px;
}

.header-desktop,
.header-mobile {
  background-color: #66BFBF;
  padding: 0;
}

.header-mobile {
  display: none;
}

.pro {
  text-decoration: underline;
}

.programmer {
  font-weight: normal;
}

.profile-pic {
  width: 300px;
  filter: grayscale(100%);
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1%;
}

a, .dropbtn {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6
}

/* ---- Skill section formatting ---- */
.skill-row {
  width: 60%;
  margin: 200px auto;
  line-height: 2;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.img-left {
  width: 18%;
  max-width: 280px;
  float: left;
  padding-right: 30px;
}

.img-right {
  width: 18%;
  max-width: 280px;
  float: right;
  padding-left: 30px;
}

.skills :last-child {
  margin-bottom: 0;
}
/* -------- */

/* ---- Contact Me button styling ---- */
.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 30px;
  font-weight: 100;
  padding: 20px;
  background-color: #66BFBF;
  border: solid #11999E 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #11999E;
  background-image: -webkit-linear-gradient(top, #11999E, #3D94F6);
  background-image: -moz-linear-gradient(top, #11999E, #3D94F6);
  background-image: -ms-linear-gradient(top, #11999E, #3D94F6);
  background-image: -o-linear-gradient(top, #11999E, #3D94F6);
  background-image: -webkit-gradient(to bottom, #11999E, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
/* -------- */


.bottom-container {
  background-color: #66BFBF;
  padding: 30px 0 15px;
  color: #EAF6F6;
}

.footer-link,
.header-link {
  color: #11999E;
}

.header-link,
.dropbtn {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #222831;
}

.copyright {
  color: #EAF6F6;
  padding: 10px 0;
  font-size: .75em;
}

.credit {
  color: #EAF6F6;
  font-size: .75em;
}

.credit a {
  margin: 0;
}

/* ---- Mobile nav styling ---- */
.dropdown {
  position: relative;
  display: inline-block;
  padding: 0;
  background-color: #66BFBF;
}

.dropbtn {
  background-color: #66BFBF;
  font-size: 1rem;
}

.dropdown-content {
  display: none;
  margin-left: -30%;
  position: absolute;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  min-width: 205px;
  z-index: 1;
}

.dropdown-content a {
  color: #66BFBF;
  padding: 8px 5px;
  text-decoration: none;
  display: block;
  text-align: center;
  border: 1px solid #11999E;
  margin: 3px 0;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #EAF6F6;
}

.portfolio-option {
  margin: 0;
}
/* -------- */


.phone-mockup {
  width: 10%;
}



/* =================================
  Media Queries
==================================== */
@media screen and (max-width: 501px) {
  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .header-mobile .dropbtn {
    font-size: 1.5rem;
    margin: 5px 10px;
    background-color: #222831;
  }

  .header-mobile .dropdown-content {
    right: 20%;
    min-width: 80px;
  }

  .skill-row {
    width: 90%;
    margin: 50px auto;
  }

  .phone-mockup {
    width: 30%;
  }

  hr {
    margin-top: 25px;
  }
}
